
body{
   background:#6F9CEB;
}
section{
    background: #0FFF95;
}
h1{
    color:darkseagreen
}
p{
    color: brown;
}
   
.h3-header{
    color:rgb(220, 19, 193);
}
.hotpink-header{
    color:brown;
}
#top{
    background:rgb(21, 13, 164)
}
nav a {
color:chartreuse;
}
a {color:lightseagreen;

}
h2{
    color:darkgreen;
}
.blue-header{
color:magenta;
}